@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

.whitepanel{
    width: 98%;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    box-shadow: inset 0px 0px 0px 3px rgb(0 0 0 / 20%);
}
.whitepanel97{
    width: 97%;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    box-shadow: inset 0px 0px 0px 3px rgb(0 0 0 / 20%);
}
.container-fluid{
    // background-color: #ccc;
    padding: 10px;
}
.card{    
    border: none;
    border-radius: 10px;
    width: 100%;
    margin: 3px;
    padding: 1rem;
    box-shadow: inset 0px 0px 0px 3px rgb(0 0 0 / 20%);   
}
.card-body .btn-warning{
    width: 100%;
    background-color: #42b983;
    border: none;
    margin: 5px;
}
.table_A{
    margin: auto;
}
.table_A td{
    display: flex;
}